#lbNewProjectHeaderText {
    -fx-font-weight: bold;
    -fx-font-size: 16;
}

#lbNewProjectHeaderIcon {
     -fx-background-image: url("/icon/project-new-48.png");
     -fx-background-repeat: no-repeat;
}
